.icon {
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    display: inline-block;  
}

.icon-arrow {
    width: 13px;
    height: 19px;
    background-position: -10px -10px;
}

.icon-calendar {
    width: 15px;
    height: 19px;
    background-position: -43px -10px;
}

.icon-chrome {
    width: 18px;
    height: 19px;
    background-position: -78px -10px;
}

.icon-chrome2 {
    width: 18px;
    height: 19px;
    background-position: -116px -10px;
}

.icon-circle {
    width: 15px;
    height: 19px;
    background-position: -10px -49px;
}

.icon-cross {
    width: 13px;
    height: 19px;
    background-position: -45px -49px;
}

.icon-css {
    width: 15px;
    height: 19px;
    background-position: -79px -49px;
}

.icon-css3 {
    width: 15px;
    height: 19px;
    background-position: -114px -49px;
}

.icon-facebook {
    width: 12px;
    height: 27px;
    background-position: -10px -88px;
}

.icon-git {
    width: 15px;
    height: 19px;
    background-position: -42px -88px;
}

.icon-github {
    width: 27px;
    height: 27px;
    background-position: -77px -88px;
}

.icon-html {
    width: 15px;
    height: 19px;
    background-position: -124px -88px;
}

.icon-html5 {
    width: 15px;
    height: 19px;
    background-position: -42px -127px;
}

.icon-js {
    width: 19px;
    height: 19px;
    background-position: -124px -127px;
}

.icon-linkdin {
    width: 23px;
    height: 27px;
    background-position: -154px -10px;
}

.icon-location {
    width: 12px;
    height: 19px;
    background-position: -192px -5px;
}

.icon-node {
    width: 15px;
    height: 19px;
    background-position: -159px -57px;
}

.icon-square {
    width: 16px;
    height: 19px;
    background-position: -163px -96px;
}

.icon-tag {
    width: 13px;
    height: 19px;
    background-position: -77px -135px;
}

.icon-triangle {
    width: 18px;
    height: 19px;
    background-position: -163px -135px;
}
