---
layout: default
---

<div id="main">

{% for post in paginator.posts %}

        <article class="article">
            <div class="diamond">
                <div class="box tag-icon-default tag-icon-{{post.categories[0]}}">
                </div>
            </div>
            <div class="con">
                <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
                <p class="date"><span>{{ post.date | date: "%Y年%m月%d日" }}</span></p>
                <div class="tip">
                    {{ post.excerpt | strip_html }}
                </div>
                <div class="img">
                    <img src="http://odbvfd8rb.bkt.clouddn.com/{{ post.title }}.jpg" alt="" width="570px" height="144px">
                </div>
                <div class="addition">
                    <a class="more base-link" href="{{ site.baseurl}}{{ post.url }}">
                        阅读全文
                    </a>
                </div>
            </div>
        </article>

{% endfor %}


    <div class="page">
      {% if paginator.page == 1 %}
           
        {% else %}
            {% if paginator.previous_page == 1 %}
              <a class="prev base-link" href="{{ site.baseurl}}/">
                <span>Prev</span>
              </a>
            {% else %}
              <a class="prev base-link" href="{{ site.baseurl}}/article/{{ paginator.previous_page }}">
                <span>Prev</span></a>
              </a>
            {% endif %}
                
        {% endif %}
    	 {% if paginator.page == paginator.total_pages %}
            
        {% else %}
        <a class="next base-link" href="{{ site.baseurl}}/article/{{ paginator.next_page }}">
            <span>Next</span>
        </a>
        {% endif %}
    </div>
</div>

       