 <header>
    <div class="top-line">
    </div>
    <div class="con">
        <div class="info">
            <div class="avator">
            </div>
            <div class="basic">
                <span class="name">wuhuihao</span>
                <div class="basic-line"></div>
                <span class="position">Frontend Developer</span>
                <div class="icon-con"><i class="icon icon-html"></i><i class="icon icon-js"></i><i class="icon icon-css"></i><i class="icon icon-chrome"></i><i class="icon icon-git"></i></div>
                <div class="location"><i class="icon icon-location"></i>Hangzhou,Wenzhou</div>
            </div>
            <div class="circle-1"></div>
            <div class="circle-2"></div>
            <div class="circle-3"></div>
            <div class="circle-4"></div>
        </div>
        <nav>
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
        </nav>
    </div>
</header>